.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root{
    min-height: 60vh;
}
html{
    min-height: 60vh;
}

body{
    min-height: 60vh;

}

.MuiContainer-root{
    margin-top: 1em;
    min-height: 60vh;
}
.MuiPaper-root{
    padding: 1em;
        min-height: 60vh;

}

.bar{
    background-color: blue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 1px;
    margin-right:1px
}

.active{
    background-color: blueviolet;
}


.flexContainer{
    display: flex;
    flex-direction: row;
}

.flexItem{
    flex-grow: 1;
}

.flexItem2{
        flex-grow: 2;
    margin-left: 1em;
    margin-right:2em
}

.topBar{
    /* border-style: solid; */
    padding: 1em;
    border-bottom: 5px solid black;
}

h1 {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.footer{
    text-align: center;
    align-self: center ;
    position: absolute;
    width: 100%;
    bottom: 10px;

}